<div class="row">
  <div class="col-md-6">User Info
      <br>
      <%= @user.name %>
      <br>
      <%= @user.email %>
  </div>
  
  <div class="col-md-4 col-sm-5 col-xs-6">
    <%= link_to "Add habit", newhabit_path %>
  </div>
</div>

