<div class="page-header">
  <h1>User's Name</h1>
</div>

<<div class="row ">
    <aside class="col-md-4">
        <p>The Habit is</p>
        <h1><%= @track.name %></h1>
        <p>The Habit Starts At</p>
        <h1><%= @track.date %></h1>
        <p>Completion of the Habit</p>
        <h1><%= @track.habit_done %></h1>
    </aside>
</div>


