<div class="page-header">
  <h1>User's Name<small>Habit number</small></h1>
</div>

<div class="row ">
    <aside class="col-md-4">
        <p>The Habit Starts At</p>
        <h1><%= @track.date %></h1>
        <p>The Habit is at</p>
        <h1><%= @track.streak %> days</h1>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <%= @track.streak %> days
          </div>
        </div>
        <p>Completion of the Habit</p>
        <h1><%= @track.habit_done %></h1>
    </aside>
</div>


