

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_flicker", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>
    <header>
    <!-- start menu -->
    <div id="templatemo_home">
    	<div class="templatemo_top">
      <div class="container templatemo_container">
        <div class="row">
          <div class="col-sm-3 col-md-3">
            <div class="logo">
              <a href=""><img src= <%= asset_path "images/templatemo_logo.png" %> alt="smoothy html5 template"></a>
            </div>
          </div>
          <div class="col-sm-9 col-md-9 templatemo_col9">
          	<div id="top-menu">
            <nav class="mainMenu">
              <ul class="nav">

                <% if logged_in? %>
                <li><a class="menu" href="/">Home</a></li>
                <!--<li><a class="menu" href="/">Progress</a></li>-->
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                
                <% elsif %>
                <li><a class="menu" href="/">Home</a></li>
                <li><a class="menu" href="/#templatemo_portfolio">How</a></li>
                <li><a class="menu" href="/#templatemo_blog">Feedback</a></li>
                <li><a class="menu" href="/#templatemo_partners">Meet Our Team</a></li>
                <li><%= link_to "Sign up", signup_path %></li>
                <li><%= link_to "Login", login_path %></li>
                <% end %>
              </ul>
            </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="clear"></div>
    <!-- end menu -->

  </header>